[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype.git
[submodule "extra/vita2hos"]
	path = extra/vita2hos
	url = git@github.com:xerpi/vita2hos.git
[submodule "extra/gbarecomp"]
	path = extra/gbarecomp
	url = git@github.com:mstan/gbarecomp.git
